body {
  font-family: 'Rubik', sans-serif;
  background: url("https://i.imgur.com/rAVo9IA.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 2000px;
}

* {
  margin: 0;
  padding: 0;
}

.clearfix {
  clear: both;
  display: table;
  content: none;
}

[class*='col-'] {
  float: left;
}
@for $i from 1 through 12 {
  .col-#{$i} {
    width: ($i/12) * 100%;
  }
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}
/////////////////////////////////////////////////////////////////

.nav-list a {
  text-decoration: none;
}

.sticky {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.main-header-nav {
  transition: background-color 1s, font-weight 1s, color 1s, display 5s;
}

.scroll {
  width: 100%;
  height: 10px;
}

.nav-background {
  width: 100%;
  height: 30px;
  background-color: rgba(110,110,100, 0.5);
  font-weight: bold;
  box-shadow: 1px 1px 1px #222222;
  color: rgb(210, 210, 210);
  padding-left: -13px;

  a {
    color: rgb(210, 210, 210);
  }
}

.nav-background-hidden {
  background-color: transparent;
  color: rgb(210, 210, 210);

  a {
    color: rgb(210, 210, 210);
  }
}

.header-bar {
  width: 100%;
  height: 30px;
}

.stripe-left {
  border: 1px solid rgb(210, 210, 210);
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  width: 425px;
  height: 5px;
  margin-top: 12px;
  margin-left: 10px;
  float: left;
}

.stripe-right {
  border: 1px solid rgb(210, 210, 210);
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  width: 425px;
  height: 5px;
  margin-top: 12px;
  margin-right: 10px;
  float: right;
}

.nav-list {
  display: flex;
  justify-content: center;
  margin-right: 25px;

  li {
    padding-left: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 7px;
    list-style: none;
    font-size: 15px;
    text-transform: uppercase;
  }
}
/////////////////////////////////////////////////////////////////
.wallpaper-header {
  height: 600px;
  width: 100%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  max-width: 350px;
  height: 250px;
}
/////////////////////////////////////////////////////////////////
.slider-header {
  margin-top: 150px;
  font-size: 50px;
  display: flex;
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(224, 167, 18)), to(rgb(183, 124, 0)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sliders {
  max-width: 100%;
  height: 500px;
  background-color: transparent;
  margin-top: 30px;
  overflow: hidden;
  margin-bottom: 50px;
  position: relative;
}

.slider-photo {
  position: absolute;
  width: 75%;
  height: 500px;
  margin-left: 100px;
}

.icon-left-open-1 {
  position: absolute;
  z-index: 9;
  padding-top: 180px;
  color: rgb(233, 233, 233);
  transition: background-color 0.5s, color 0.5s;

  &:hover {
    height: 100%;
    width: 60px;
    background-color: transparent;
    color: rgb(224, 167, 18);
  }
}

.icon-right-open-1 {
  position: absolute;
  z-index: 9;
  left: 95%;
  padding-top: 180px;
  color: rgb(233, 233, 233);
  transition: background-color 0.5s, color 0.5s;

  &:hover {
    height: 100%;
    width: 60px;
    background-color: transparent;
    color: rgb(224, 167, 18);
  }
}

#sport {
  margin-top: 30px;
}

.slider-bar a {
  transition: background-color 0.8s, width 0.8s, color 0.8s;
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  color: rgb(224, 167, 18);
}

.slider-bar a:hover {
  text-decoration: none;
  height: 100%;
  width: 75px;
  background-color: rgb(180, 180, 180);
  display: flex;
  justify-content: center;
  color: rgb(183, 124, 0);
}

.sliders li img {
  width: 100%;
  height: 200px;
  list-style: none;
}

.slides.fadeOut {
  opacity: 0;
}

#slider {
  position: relative;
}

#slider img {
  transition: opacity 1.5s;
  position: absolute;
  width: 1080px;
  height: 200px;
  top: 0;
  left: 0;
  opacity: 0;
}

#slider img.fadeIn {
  opacity: 1;
}

#slider .slider-banner {
  background-color: rgb(200, 11, 11);
  width: 50px;
  height: 25px;
}
/////////////////////////////////////////////////////////////////
.about-us {
  margin-top: 60px;

  span {
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    color: rgb(180, 180, 180);
    text-align: justify;
    text-transform: inherit;
    line-height: 30px;

    span {
      color: rgb(224, 167, 18);
    }
  }
}
/////////////////////////////////////////////////////////////////
.a-class,
.a-class-elegance,
.a-class-plus,
.a-class-supercar {
  width: 100%;
  height: 50px;
  background: rgb(224, 167, 18);
  background: linear-gradient(rgb(224, 167, 18), rgb(183, 124, 0));
  box-shadow: 0 1px 5px #111111;
  border: 1px solid rgb(224, 167, 18);
  border-radius: 5px 5px 0 0;
  display: flex;
}

.banner-text {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  margin-top: 3px;
  font-size: 30px;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(245, 245, 245)), to(rgb(179, 179, 179)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#filter {
  width: 30%;
  font-size: 16px;
  height: 30px;
  // padding: 12px 20px 12px 40px;
  border: 3px solid rgb(130, 130, 130);
  margin-bottom: 12px;
  margin-top: 30px;
  outline: none;
  margin-left: 35%;
  display: flex;
  justify-content: center;
}

#filter:focus {
  outline: none;
  display: flex;
  justify-content: center;
}

#filter-count {
  display: flex;
  color: rgb(245, 245, 245);
  margin-left: 460px;
}

.container-2 {
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}

.box {
  display: flex;
  margin-left: 280px;
}

.container-2 input#filter {
  width: 300px;
  height: 50px;
  background: rgb(225, 225, 225);
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #777777;
  -webkit-transition: width 0.55s ease;
  -moz-transition: width 0.55s ease;
  -ms-transition: width 0.55s ease;
  -o-transition: width 0.55s ease;
  transition: width 0.55s ease;
}

.container-2 input#filter::-webkit-input-placeholder {
  color: #65737e;
}

.container-2 input#filter:-moz-placeholder {
  /* Firefox 18- */
  color: #65737e;
}

.container-2 input#filter::-moz-placeholder {
  /* Firefox 19+ */
  color: #65737e;
}

.container-2 input#filter:-ms-input-placeholder {
  color: #65737e;
}

.container-2 .icon {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.a-class-main,
.a-class-main-elegance,
.a-class-main-plus,
.a-class-main-supercar {
  display: none;
  max-width: 100%;
  max-height: 700px;
  background: rgb(245, 245, 245);
  background: linear-gradient(rgb(245, 245, 245), rgb(179, 179, 179));
  // box-shadow: 0 1px 5px #111111;
  border-radius: 0 0 5px 5px;
}

.container-for-line {
  width: 100%;
  height: 40px;
  display: flex;
}

.line-between {
  border-bottom: 1px solid black;
  width: 100%;
  height: 20px;
  margin-left: auto;
  display: flex;
  justify-content: center;
}

.image {
  display: block;
  opacity: 1;
  transition: opacity 1s;
  backface-visibility: hidden;
  width: 300px;
  height: 200px;
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.75);
}

.image-section {
  width: 300px;
  height: 200px;
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.75);
  position: relative;
  float: left;
  margin-bottom: 50px;
}

.price-banner {
  position: absolute;
  opacity: 0;
  top: 75%;
  left: 35%;
  width: 300px;
  height: 50px;
  font-family: 'Rubik', sans-serif;
  text-shadow: 2px 0 black;
  color: rgb(224, 167, 18);
  font-size: 30px;
  transition: opacity 1s;
}

.image-section:hover .image {
  opacity: 0.6;
}

.image-section:hover .price-banner {
  opacity: 1;
}

.car-list-title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
  color: rgb(80, 80, 80);
}

.icon {
  float: left;
  margin-left: 80px;
  margin-top: 20px;
  height: 20px;
  width: 20px;
}

.icon-description:nth-child(1) {
  margin-left: 95px;
}

.icon-description:nth-child(3) {
  margin-left: 60px;
}

.icon-description:nth-child(6) {
  margin-left: 95px;
}

.icon-description:nth-child(7) {
  margin-left: 90px;
}

.car-list-icons {
  display: flex;
  justify-content: center;
  margin-left: 7px;
}

.car-list-description {
  font-family: 'Poppins', sans-serif;
}

.background-section-oferta {
  // background: rgb(179, 179, 179);
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid rgb(183, 124, 0);
  margin-left: 519px;
  margin-right: 0;
}

#elegance,
#sport-plus,
#supercar {
  margin-top: 50px;
}
/////////////////////////////////////////////////////////////////
.contact-box {
  width: 100%;
  min-height: 800px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.form-box {
  color: white;
  display: inline-block;
  width: 100px;
  margin-top: 40px;
  resize: none;

  input,
  textarea {
    width: 400px;
    margin: 10px 10px 10px 50px;
    font-size: 16px;
    border-width: 2px;
    border-style: solid;
    padding: 6px;
    box-shadow: 0 0 5px 0 rgba(42,42,42,.79);
    background-color: #f5f5f5;
    color: #949494;
    border-color: #e6e6e6;
    font-weight: normal;
    font-style: italic;
    font-family: sans-serif;
    resize: none;
  }

  #txtArea {
    resize: none;
  }

  .btn-submit {
    width: 100px;
    color: rgba(42,42,42,.90);
    font-weight: bold;
    background: linear-gradient(rgb(224, 167, 18), rgb(183, 124, 0));
    border-color: rgb(183, 124, 0);
    font-style: normal;
    margin-left: 200px;
    margin-top: 20px;
  }
}

.find-contact-us {
  display: flex;
  justify-content: space-around;
}

.contact-us-now {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(224, 167, 18)), to(rgb(183, 124, 0)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  margin-left: 50px;
  margin-right: 150px;
  margin-top: 50px;
}

.find-contact-us {
  dispaly: flex;
  justify-content: space-around;
}

.find-us {
  display: flex;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(224, 167, 18)), to(rgb(183, 124, 0)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  margin-right: 150px;
  display: block;
  margin-top: 50px;
}

.form-box-description {
  display: flex;
  margin-left: 50px;
  width: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(224, 167, 18)), to(rgb(183, 124, 0)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.map-direction {
  position: absolute;
  top: 22.5%;
  margin-left: 400px;
  margin-top: -15px;
  border: 5px solid rgb(224, 167, 18);
}

#spnPhoneStatus {
  margin-left: 50px;
  display: flex;
  width: 300px;
}
/////////////////////////////////////////////////////////////////
/* Outer */
.popup {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.75);
}
/* Inner */

.popup-inner {
  max-width: 700px;
  width: 90%;
  min-height: 400px;
  max-height: 400px;
  padding: 40px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 6px rgba(0,0,0,1);
  border-radius: 3px;
  background: rgb(245, 245, 245);
  background: linear-gradient(rgba(245, 245, 245,0.9), rgba(179, 179, 179,0.9));

  h2 {
    margin-left: 280px;
    margin-bottom: 25px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(224, 167, 18)), to(rgb(183, 124, 0)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  iframe {
    margin-left: 70px;
  }

  a {
    text-decoration: none;
  }

  .snapchat {
    background-image: url("../img/snap.png");
    width: 260px;
    height: 260px;
    background-repeat: no-repeat;
    margin-left: 200px;
  }

  #snap-name {
    margin-left: 280px;
    font-size: 20px;
  }
}
/* Close Button */

.popup-close {
  width: 30px;
  height: 26px;
  padding-top: 4px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  transition: ease 0.25s all;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  border-radius: 1000px;
  background: rgba(0,0,0,0.8);
  font-family: Arial, Sans-Serif;
  font-size: 20px;
  text-align: center;
  line-height: 100%;
  color: #fff;
}

.popup-close:hover {
  -webkit-transform: translate(50%, -50%) rotate(180deg);
  transform: translate(50%, -50%) rotate(180deg);
  background: rgba(0,0,0,1);
  text-decoration: none;
}

.social-media-box {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 75px;
  align-items: center;
  margin-top: 75px;
  font-size: 50px;

  .icon-youtube-play {
    color: rgb(204,24,30);
  }

  .icon-snapchat-ghost {
    color: rgb(255, 252, 0);
  }

  .icon-twitter {
    color: rgb(85, 172, 238);
  }

  .icon-facebook {
    color: rgb(59, 89, 152);
  }

  .icon-instagram {
    color: rgb(221, 75, 57);
  }
}

#remain {
  position: absolute;
  margin-left: 340px;
  font-size: 10px;
  bottom: 28%;
  font-family: 'Rubik', sans-serif;
  color: rgb(224, 167, 18);
}

#remain-2 {
  position: absolute;
  margin-left: 365px;
  font-size: 10px;
  bottom: 28%;
  font-family: 'Rubik', sans-serif;
}
/////////////////////////////////////////////////////////////////
.footer {
  width: 100%;
  height: 40px;
  margin-top: 820px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #949494;
  padding-top: 40px;

  span {
    margin-left: 35%;
    margin-bottom: 300px;

    a img {
      width: 50px;
      height: 20px;
      margin-left: 10px;
    }
  }
}
//////////////////////////////////////////////////////////////////////////////
//All Media Scripts
@media (min-width: 1280px) {
  .stripe-right .stripe-left {
    width: 400px;
  }

  .stripe-left {
    width: 400px;
  }
}
@media (min-width: 1080px) and (max-width: 1279px) {
  .stripe-right {
    width: 200px;
  }

  .stripe-left {
    width: 200px;
  }
}
@media (min-width: 720px) and (max-width: 1079px) {
  .stripe-right {
    width: 100px;
  }

  .stripe-left {
    width: 100px;
  }
}
@media(max-width: 719px) {
  .stripe-right {
    width: 1px;
  }

  .stripe-left {
    width: 1px;
  }
}
@media(min-width: 930px) and (max-width: 1020px) {
  .icon {
    margin-left: 60px;
  }
  // .car-list-title {
  //   display: inline-block;
  //   margin-right: 100px;
  // }
}
@media(min-width: 918px) and (max-width: 929px) {
  .icon {
    margin-left: 50px;
  }
}
@media(max-width: 918px) {
  .icon {
    display: none;
  }
}
//End Media
///////////////////////////////////////////////////////////////////////////
