
.icon-right-open-1:before { content: '\e800'; } /* '' */
.icon-left-open-1:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-snapchat:before { content: '\f2ab'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */